* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#323232;
}

.container {
    background-color: #d1d1d1;
    border: 2px solid #7a7878;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
}

#pantalla {
    width: 100%;
    min-height: 80px;
    background-color: #fff;
    border: 1px solid #7a7878;
    border-radius: 5px;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 10px;
}
  
.tecla {
    background-color: #7a7878;
    color: #fff;
    font-size: 24px;
    width: 65px;
    height: 50px;
    margin: 5px;
    border: 2px solid #111111;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.tecla:hover {
    background-color: #111111;
    transform: scale(1.1);
}
  
.red {
    color: rgb(161, 41, 41);
    font-weight: bold;
}
  
.tecla.simbolo-igual {
    width: 140px;
    background-color: rgb(161, 41, 41);
    color: #fff;
    font-weight: bold;
}

  
  